@import "src/styles/functions.scss";
@import "src/styles/common/avatar";

.header-container {
  padding: 13px rem(65px);
  background-color: var(--white);
  border-bottom: 1px solid var(--field-stroke);
  @include f-center-between;
  position: relative;
}

.menu-checker,
.mobile-navigation-icon {
  display: none;
}

.link {
  margin-right: rem(65px);
  font-weight: 500;
  color: var(--main-gray);

  &.active {
    color: var(--font-color);
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.user-block {
  @include f-center;
  align-items: stretch;
}

.notification {
  width: 42px;
  height: 42px;
  border: var(--light-border);
  border-radius: var(--border-radius);
  background-color: var(--white);
  @include f-center;
  color: var(--main-gray);

  .i-bell {
    font-size: 1.125rem;
  }
}

.user-navigation-container {
  margin: 0 1.125rem;
  position: relative;

  button {
    padding: 4px;
    padding-left: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    border: none;
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--font-color);
    @include f-center;
  }

  span {
    margin-right: rem(26px);
  }

  .avatar {
    @include avatar(rem(34px), rem(14px), rem(4px));
    .avatar-text {
      margin-right: 0;
    }
  }
}

.add-new-container {
  flex-shrink: 0;
  position: relative;
}

.add-new-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 12px);
  padding: rem(15px);
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: all var(--transition-time) ease-in-out;
  @include f-column;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  a {
    @include f-center-start;
    margin-bottom: rem(15px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  span {
    margin-left: rem(12px);
    color: var(--main-gray);
    font-size: rem(14px);
  }
}

.user-navigation-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: 8px;
  right: 8px;

  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  background-color: var(--white);

  opacity: 0;
  visibility: hidden;
  transition: all var(--transition-time) ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  .user-navigation-item {
    width: 100%;
    padding: rem(12px) rem(15px);
    color: var(--main-gray);
    font-size: rem(14px);
    background-color: var(--white);
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    display: block;
    text-align: left;
    font-weight: 500;

    &.link {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    &.sign-out {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    &:hover {
      background-color: var(--main-blue);
      color: var(--white);
    }
  }
}

@include media(1350px) {
  .link {
    margin-right: rem(40px);
  }
}

@include media-lg {
  .header-container {
    padding: 13px rem(40px);
  }

  .link {
    margin-right: rem(25px);
  }

  .user-navigation {
    margin: 0 0.875rem;
  }
}

.mobile-menu {
  display: none;
}

@include media(1024px) {
  .main-navigation {
    display: none;
  }

  .mobile-menu {
    display: flex;
    margin-left: auto;
    margin-right: 0.875rem;
  }

  .mobile-navigation {
    transition: all var(--transition-time) ease-in-out;
    top: 100%;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    box-shadow: var(--card-shadow);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 99;

    .link,
    .user-navigation,
    .notifications {
      margin-right: 0;
      margin-bottom: 10px;
      line-height: 1;
      text-align: start;
    }

    .user-navigation,
    .notifications {
      color: var(--main-gray);
      font-weight: 500;
    }

    .user-navigation {
      background-color: transparent;
      padding: 0;
      color: var(--main-gray);
      line-height: 1;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 1.25rem;
      transform: translateY(-100%);
      border: 10px solid transparent;
      border-top: none;
      border-bottom: 10px solid var(--white);
    }
  }

  .mobile-navigation-icon {
    display: block;
    user-select: none;
    width: 42px;
    height: 42px;
    border-radius: var(--border-radius);
    border: var(--light-border);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    position: relative;

    span {
      height: 2px;
      width: 50%;
      background-color: var(--main-gray);
      transition: all var(--transition-time) ease-in-out;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &:nth-child(1) {
        top: 25%;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(4) {
        bottom: 25%;
      }
    }
  }

  .menu-checker:checked {
    & ~ label .mobile-navigation-icon {
      span {
        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:nth-child(1),
        &:nth-child(4) {
          opacity: 0;
        }
      }
    }

    & ~ .mobile-navigation {
      visibility: visible;
      opacity: 1;
    }
  }

  .mobile-menu {
    .notifications,
    .user-navigation,
    .add-item {
      display: none;
    }
  }
}

.icon-wrapper {
  background-color: var(--blue-background);
  border-radius: var(--border-radius);
  width: rem(28px);
  height: rem(28px);
  @include f-center;

  i {
    color: var(--main-blue);
  }

  .i-lender {
    font-size: 8px;
  }

  .i-manager {
    font-size: 10px;
  }

  .i-client {
    font-size: 10px;
  }
}

@include media-sm {
  .header-container {
    padding: 13px rem(30px);
  }

  .menu-button {
    margin-right: 0;
  }

  .notification {
    display: none;
  }

  .user-navigation {
    margin-left: 0;
  }

  .mobile-menu .notifications {
    display: block;
  }
}

@include media(660px) {
  .user-navigation,
  .add-item {
    display: none;
  }

  .mobile-menu {
    margin-right: 0;
    .add-item,
    .user-navigation {
      display: block;
    }
  }

  .mobile-navigation {
    right: rem(30px);
    left: auto;

    &::before {
      left: auto;
      right: 21px;
      transform: translate(50%, -100%);
    }
  }
}

@include media-xs {
  .header-container {
    padding: 13px rem(20px);

    > :global(svg) {
      width: 150px;
    }
  }

  .mobile-navigation {
    right: rem(20px);
  }
}
